<h1>Tasks</h1>
<div *ngIf="tasks.length > 0; else noTask">
    <table border="1">
        <tr>
            <td>Task</td>
            <td>Priority</td>
            <td>Due Date</td>
            <td>Actions</td>
        </tr>
        <tr *ngFor="let i of tasks; let idx = index">
            <td> {{ i.description }} </td>
            <td> {{ i.priority }} </td>
            <td> {{ i.dueDate }} </td>
            <td>
                <button (click)="deleteTask(idx)">X</button>
                <button (click)="modifyTask(idx)">Modify</button>
            </td>
        </tr>
    </table>
</div>

<ng-template #noTask>
    <h2> You have no task </h2>
</ng-template>